<!DOCTYPE html>
<html lang="pl">
<head>
    {% include "head.html" %}
</head>
<body>
    {% include "header.html" %}

    <section class="page-hero about">
        <h1>O mnie</h1>
    </section>

    <section class="content-section">
        <h2>I'm just a simple man</h2>
        <p>Nazywam się Piotr Semeniuk, a gry fabularne to <strong>moja pasja od ponad 20 lat</strong>. Zaczynałem jako gracz w Dungeons & Dragons, ale w pewnym momencie zapragnąłem prowadzić własne przygody. Początki były trudne, pełne prób, błędów i wielu momentów zwątpienia. Jednak dzisiaj, po <strong>dekadzie w roli Mistrza Gry</strong> czuję się w tym temacie bardzo pewnie.</p>
        <p>Systemy w których prowadzę przygody to głównie Dungeons & Dragons i Zew Cthulhu. W ostatnich latach <strong>eksperymentuję też z nowszymi systemami indie oraz wlasnymi</strong>, szukając takich rozwiązań, które wspierają storytelling i immersję.</p>
        <p>Choć korzystałem z narzędzi online jak Roll20 czy Foundry, <strong>najlepiej czuję się przy stole</strong>, z fizycznymi pomocami, kostkami i atmosferą, przy której każdy może w pełni zanurzyć się w świat gry. </p>
        <p>Lubię, gdy gracze naprawdę wczuwają się w swoje postacie, dlatego czasem <strong>wprowadzam elementy larpowe</strong>, bo nic nie oddaje klimatu tak, jak możliwość fizycznego doświadczenia świata.</p>
    </section>

    <section class="content-section">
        <h2>Filozofia prowadzenia sesji</h2>
        <p>Najwazniejsza dla mnie jest zabawa i <strong>wspólne doświadczenie</strong>, w którym każdy z graczy może w pełni uczestniczyć. Sesje są nieliniowe, dynamiczne i podążające w kierunku wybranym przez graczy.</p>
        <p>Nie poruszam tematów obraźliwych ani dyskryminujących. Każda historia może posiadam dramatyczne tło, ale gracze nigdy nie są zmuszeni uczestniczyć w kontrowersyjnych sytuacjach. </p>
        <p>Przygody są prowadzone w języku polskim albo angielskim, a ich treść jest dostosowana stylem i klimatem do grupy.</p>
    </section>

    <section class="cta-section">
        <h2>Lubię tworzyć i prowadzić dobre historie <br/>dla  graczy i zespołów</h2>
        <a href="https://instagram.com/podam.ci.kostke" class="btn" target="_blank" rel="noopener">Skontaktuj się ze mną</a>
    </section>

    {% include "footer.html" %}
</body>
</html>